$('#today_schedule').html('<div class="hero-unit">' + <%= @year %> + '-' + <%= @month %> + '-' + <%= @day %> + '</div>');
//$('#main-content').html('<div class="hero-unit">' + <%= @year %> + '-' + <%= @month %> + '-' + <%= @day %> + '</div>');
