<p id="notice"><%= notice %></p>

<p>
  <b>Event type:</b>
  <%= @schedule.event_type_str %>
</p>

<p>
  <b>Event date:</b>
  <%= @schedule.event_date %>
</p>


<%= link_to 'Edit', edit_schedule_path(@schedule) %> |
<%= link_to 'Back', schedules_path %>
