<!DOCTYPE html>
<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>Meal Planner</title>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width">

  <style>
      body {
          padding-top: 60px;
          padding-bottom: 40px;
      }
  </style>

</head>
<body>
<!--[if lt IE 7]>
<p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
    your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to
    improve your experience.</p>
<![endif]-->

<!-- This code is taken from http://twitter.github.com/bootstrap/examples/hero.html -->

<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <a class="brand" href="<%= root_url() %>">Meal Planner</a>

      <div class="nav-collapse collapse">
        <ul class="nav">
          <li class="active"><a href="<%= root_url() %>">Home</a></li>
          <!--
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><a href="#">Action</a></li>
              <li><a href="#">Another action</a></li>
              <li><a href="#">Something else here</a></li>
              <li class="divider"></li>
              <li class="nav-header">Nav header</li>
              <li><a href="#">Separated link</a></li>
              <li><a href="#">One more separated link</a></li>
            </ul>
          </li>
          -->
          <li><a href="#about">About</a></li>
          <li><a href="#contact">Contact</a></li>
        </ul>
        <ul class="nav pull-right">
          <li>
            <%= link_to "Create Account", user_accounts_path() unless session[:user] %>
            <%= link_to "Logout", logout_path() unless !session[:user] %>
          </li>
        </ul>
        <% if !session[:user] %>
            <form action="/login" class="navbar-form pull-right" method="post">
              <input class="span2" name="user_name" type="text" placeholder="Username">
              <input class="span2" name="password" type="password" placeholder="Password">
              <button type="submit" class="btn">Sign in</button>
            </form>
        <% end %>
      </div>
    </div>
  </div>
</div>
<%= puts cookies[:user_name] %>

<div class="accordion span3 sidebar">
  <div class="sidebar-item"><%= render_cell :recipe_toolbox, :display %></div>
  <div class="sidebar-item"><%= render_cell :recipe_list, :display %></div>
  <div class="sidebar-item"><%= render_cell :favorite_recent_recipes_list, :display %></div>
</div>
<div>
  <% flash.each do |type, msg| %>
      <% if msg.is_a?(String) %>
          <div class="alert alert-<%= type == :notice ? "success" : "error" %>">
            <a class="close" data-dismiss="alert">&#215;</a>
            <%= content_tag :div, msg, :id => "flash_#{type}" %>
          </div>
      <% end %>
  <% end %>
  <div class="main-content container"><%= yield %></div>
</div>
<div class="navbar-fixed-bottom container">
  <p>&copy; Meal Planner 2013</p>
</div>


</body>
</html>
